.basic-single .css-b62m3t-container {
  z-index: -10px !important;
}

.select__control {
  z-index: -10px !important;
}

.select__value-container,
.css-kogbln-control {
  z-index: -10px !important;
}
